@model IEnumerable<EmployeeMVC5.Models.Department>
@{
    ViewBag.Title = "Index";
}

<h2>List of Departments</h2>
<p>
    @Html.ActionLink("New Department", "New", "Departments", null, new { @class = "btn btn-primary"})
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Departments</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var department in Model)
        {
        <tr>
            <td>@Html.ActionLink(department.Name, "Edit", "Departments", new { id = department.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>

