@model IEnumerable<EmployeeMVC5.Models.Employee>
@{
    ViewBag.Title = "Employees";
}

<h2>List of Employees</h2>
<p>
    @Html.ActionLink("New Employee", "New", "Employees", null, new { @class = "btn btn-primary" })
</p>

<table id="employees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Employee Full Name</th>
            <th>Employment Type</th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section scripts
{
    <script>

        $(document).ready(function () {


            $("#employees").DataTable({
                ajax: {
                    url: "/api/employees",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName",
                        // custom rendering function
                        // 1st parameter value of the property - which is the data above (employee full name)
                        // 2nd parameter is the type for this column
                        // 3rd parameter is the actual object or row we are rendering (here we calling it as employee)
                        render: function (data, type, employee) {
                            return "<a href= '/employees/edit/" + employee.id + "'>" + employee.fullName + "</a>";
                               // navigate to edit view and pass id as parameter       text to displayed is full name
                        }
                    },
                    {
                        data: "employmentType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class= 'btn-link js-delete' data-employee-id =" + data + ">Delete</button>";
                            // add a button having classes as shown                         here data refers to id
                        }
                    }
                ]
            });

            $("#employees").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Are you sure you want to Delete this employee?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/employees/" + button.attr("data-employee-id"),
                            method: "DELETE",
                            success: function () {
                                console.log("Success");
                                button.parents("tr").remove();
                            }
                        });
                    }
                });


            });
        });
    </script>
}