@model IEnumerable<EmployeeMVC5.Models.Employee>
@{
    ViewBag.Title = "Employees";
}

<h2>List of Employees</h2>
@if(!Model.Any())
{
    <p>We don't have any employees yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@Html.ActionLink(employee.FullName, "Details", "Employees", new { id = employee.Id }, null)</td>
                </tr>
            }
        </tbody>

    </table>
}
