@model IEnumerable<EmployeeMVC5.Models.Employee>
@{
    ViewBag.Title = "Employees";
}

<h2>List of Employees</h2>
<p>
    @Html.ActionLink("New Employee", "New", "Employees", null, new { @class = "btn btn-primary" })
</p>

@if(!Model.Any())
{
    <p>We don't have any employees yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee Full Name</th>
                <th>Employment Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@Html.ActionLink(employee.FullName, "Edit", "Employees", new { id = employee.Id }, null)</td>
                    <td>@employee.EmploymentType.Name</td>
                </tr>
            }
        </tbody>

    </table>
}
